@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer components {
  .buttonStyle {
    @apply rounded-3xl py-2 px-6 bg-mainColor text-white text-sm font-medium
  }
}
/* body {
  font-family: 'Exo 2 Variable', sans-serif;
} */

.Home_page{
  height: 85vh;
}
